<div class="container">
    <div class="select-block">
        <!-- <form [formGroup]="form"> -->
            <h4>מדדים ישראלים וני''ע</h4>
            <div *ngIf="bursaIsrael && bursaIsrael.length > 0">
                <div *ngFor="let idx of bursaIsrael; let i=index">
                    <mat-form-field appearance="fill" *ngIf="idx.fieldType === 'SELECT'">
                        <mat-label>{{idx.name}}</mat-label>
                        <mat-select #security (selectionChange)="onChangeSelected($event,i)"><!-- [formControl]="selected" [errorStateMatcher]="matcher"-->
                            <mat-option *ngFor="let security of idx.securities" 
                                [value]="security.value">{{security.name}}</mat-option>
                        </mat-select>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                        <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                            Your selection is invalid
                        </mat-error> -->
                    </mat-form-field>
                    <input type="text" *ngIf="idx.fieldType === 'INPUT'" (change)="onChangeInput($event,i)" />
                </div>
                <button (click)="send()">שלח</button>
            </div>
        <!-- </form> -->
    </div>
</div>